<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <% if (user.member != true) {%>
    <form action="/become-member" method="POST">
      <button>Become a member</button>
      <input type="password" name="member_password" />
    </form>
    <%}%> <% if (user.admin != true) {%>
    <form action="/become-admin" method="POST">
      <button>Become an admin</button>
      <input type="password" name="admin_password" />
    </form>
    <%}%> <% if(typeof(adminPasswordError) === 'string') {%>
    <p>Admin password is incorrect</p>
    <%}%>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>
    <div>
      <% posts.forEach(function(item) { %>
      <div>
        <h2><%= item.title %></h2>
        <p><%= item.text %></p>
        <% if (user) {%> <% if (user.member === true) {%>
        <p><%= item.user.username %></p>
        <p><%= item.formattedDate %></p>
        <%}%> <%}%> <% if (user) {%> <% if (user.admin === true) {%>
        <form action="/delete-post" method="POST">
          <input type="hidden" name="id" value="<%= item.id %>" />
          <button>Delete</button>
        </form>
        <%}%> <%}%>
      </div>
      <% }); %>
    </div>

    <a href="/sign-up">Create Account</a>
  </body>
</html>
